.companyindex{
	margin-bottom:350px;
	text-align: center;
	
	
}
.search-container {margin-top:100px;}

.image-container-company {
  margin:50 auto;
  text-align: center;
}
.image-container-company img {
  height: 400px;
  border-radius: 30px;

}

.companybtn{
	font-size:large;
	width: 150px;
	height:60px;
	border-radius: 30px;
}

form {
	margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc; /* 테두리를 보이도록 추가 */
  width: 500px; /* 가로 길이를 500px로 변경 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 지정 */
  outline: none; /* 클릭했을 때 생기는 테두리 제거 */
}

button[type="submit"] {
  padding: 10px 20px;
  margin-left: 10px;
  background-color:#34B680;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

 .gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

/* 이미지 컨테이너 */
.image-container {
  width: calc(20% - 10px);
  margin-right: 20px;
  margin-bottom: 30px;
  float: left;
  text-align: center;
}

/* 이미지 */
.image-container img {
  display: block;
  width: 100%;
  height: 250px;
  border-radius: 30px;

}


/* 이미지 제목 */
.image-title {
  margin-top: 10px;
  font-weight: bold;
}

/* 이미지 태그 */
.image-tags {
  display: flex;
  justify-content: center;
  
  margin-top: 10px;
}

/* 이미지 태그 아이템 */
.image-tag {
  margin-right: 5px;
  padding: 3px 10px;
 
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  background-color: #34B680;
  color:  #34B680;
}

/* 이미지 호버 */

.image-container img:hover {
  border: 1px solid #999;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}


.round-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 30px;
  background-color: #34B680;
  color: white;
  border-radius: 25px;
  font-size: 16px;
}

/* 별점 스타일 */
.image-rating {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #f8ce0b; /* 노란색 */
}

.image-rating i {
  margin-right: 5px;
}

.image-rating input[type="radio"] {
  display: none;
}

.image-rating input[type="radio"]:checked ~ label i:before {
  content: "\f005"; /* 별 모양 아이콘 */
}

.image-rating label i:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f006"; /* 빈 별 모양 아이콘 */
  cursor: pointer;
}






/* 태그 스타일 */
.image-tags {
  display: flex;
  margin-top: 5px;
}

.image-tag {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #fff; /* 흰색 */
  border: 2px solid #ddd; /* 회색 테두리 */
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.image-tag:hover {
  background-color: #ddd; /* 회색 */
}

/* 클릭 시 반전되는 스타일 */
.image-rating label,
.image-tag {
  transition: all 0.3s ease;
}

.image-rating label:hover,
.image-rating input[type="radio"]:focus + label,
.image-tag:hover {
  filter: invert(1);
}

 .large-tag {
    font-size: 1.2rem;
    background-color: #34B680;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 5px;
  }
  .star-rating::before {
    content: "★★★★★";
    letter-spacing: 3px;
    font-size: 1.2rem;
    color: #c5c5c5;
  }
  .star-rating::after {
    content: "★★★★★";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--rating);
    white-space: nowrap;
    overflow: hidden;
    color: #ffdf00;
  }
  
.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.star {
  color: yellow;
  font-size: 20px;
}

.rating-text {
  margin-left: 5px;
  font-size: 16px;
  color: black;
  text-align: center;
}





/*상단 배너입니다 */




.banner-container {
  position: relative; 
  width: 100%;
  height: 600px;
  margin: 1% auto 0;
  text-align: center; 
  background-color:#1d907f; 
}



